
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                        <img src="style/img/sharpn-logo.png"></h1>
                        <p class="intro-text">"Sobriety through spiritual fitness"</p>
                        <a class="page-scroll btn btn-circle" href="#vision">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- About Section -->
    <section id="vision" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Vision</h2>
                <p>“Sharpn Ministries is a biblical based ministry focused on the maintenance and enhancement of sobriety through spiritual fitness, we exist as a non-profit organization providing tools and resources for intentional recovery. As a ministry, we create environments where recovering drug addicts and alcoholics find strength and hope in their recovery and confidence in their walk with Christ. Sharpn’s classes, personal mentoring, physical fitness programs, and sober living revolve around our value of development and through systems of evaluation and goal focused adjustment we believe Sharpn offers a platform for change and the opportunity to transition from destruction to construction.”</p>
                <!--
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
                -->
            </div>
        </div>
    </section>
        <!-- Footer -->
    <footer class="home">
        <div class="container text-center">
            <a href="https://www.facebook.com/sharpnrecovery/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a>
            <a href="https://twitter.com/sharpnrecovery" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a>
        </div>
    </footer>