<div class="give" ng-controller="aboutCtrl">    
  <!-- Contact Section -->
  <table class="container">
    <tr>
      <td class="right">
        <div class="text-center">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <br><br>
                <h3>What is Sharpn Ministries?</h3>
                <p class=who>
                    <b>Sharpn Ministries</b> is a biblically based ministry focused on the maintenance and enhancement of sobriety through spiritual fitness.
                    <br><br>
                    &lt;&lt; Why Sharpn Ministries? &gt;&gt;
                </p><br>
                <hr>
                <br><br><br>
                <div class="col-md-4"><h3>Statement of Faith</h3></div>
                <div class="col-md-8">
                <p class="who">
                    <b>The Bible</b>
                    <br>
                    We believe that the Bible is the Word of God, divinely inspired; that it is inerrant in the original manuscripts and preserved by God for us; that it is authoritative for this church and each of us for every age.
                    <br><br>
                    <b>God</b>
                    <br>
                    We believe that God exists eternally in three persons: Father, Son and Holy Spirit. These three are one God. We believe God created the universe by His Power and Word. We believe that God is all knowing, all powerful and ever present.
                    <br><br>
                    <b>Salvation</b>
                    <br>
                    We believe that Jesus, through His death on the cross, provided salvation for all. However, to receive salvation one must repent of sin and trust Jesus Christ alone. The Believer is eternally secure and cannot lose his salvation. He may, however, lose his joy by sin and bring the loving discipline of the Father upon himself.<br>
                    All who have received Christ will at death depart to be with Christ in their spirits and at Christ's return receive a new body which will be like His glorious body.

                    <br><br>
                    <b>Recovery Beliefs</b>
                    <br>
                    Alcoholics Anonymous
                    <br><br>
                </p>
                <!--<p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>-->
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/sharpnrecovery/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sharpnrecovery" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <!--
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                    -->
                </ul>
                <br><br>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>